<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <h4><%= t('.recent_entries') %></h4>
  <div class="list-group">
    <% Blog.where(user: @blog.user).limit(10).order('created_at desc').each do |blog| %>
      <%= link_to blog.title, blog.path, class: 'list-group-item' %>
    <% end %>
  </div>
</div>
