<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="list-group">
    <%= link_to t('.manage_user'), admin_users_path, class: active == 'users' ? 'list-group-item active' : 'list-group-item' %>
    <%= link_to t('.setting_notification'), admin_notification_path, class: active == 'notification' ? 'list-group-item active' : 'list-group-item' %>
    <%= link_to t('.add_user'), new_user_invitation_path, class: active == 'send_invitation' ? 'list-group-item active' : 'list-group-item' %>
  </div>
</div>
