<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h2><%= t('.role') %></h2>
    <% User.all.each do |user| %>
      <div class="checkbox">
        <!-- TODO: use nested set -->
        <label>
          <%= check_box_tag 'role', user.id, checked: (can? :manage, user) %>
          <!-- TODO: use user icon -->
          <%= user.username %>
        </label>
      </div>
    <% end %>
  </div><!--/span-->
  <%= render 'navigation' %>
</div><!--/row-->
