<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <% if Blog.any? %>
    <h4><%= t('.recent_entries') %></h4>
    <div class="list-group">
      <% Blog.order('created_at desc').each do |blog| %>
        <%= link_to blog.title, blog_path(blog, username: blog.username), class: 'list-group-item' %>
      <% end %>
    </div>
  <% end %>
  <% if Link.any? %>
    <h4><%= t('.links') %></h4>
    <div class="list-group">
      <% Link.all.each do |link| %>
        <%= link_to link.title, link.url, class: 'list-group-item', target: '_blank' %>
      <% end %>
    </div>
  <% end %>
</div>
